<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Produto</title>
</head>
<body>
    <div style="text-align: center; margin: 0 auto; width: 20%; background-color: #89D99D;">
        
        <h1>Adicionar Produto</h1>
            <form method="POST" action="/adicionar">
            <label for="codigo" style="display: inline-block; width: 100px; text-align: right;">Código:</label>
            <input type="text" id="codigo" name="codigo" style="display: inline-block; width: 200px;"><br><br>
            <label for="nome" style="display: inline-block; width: 100px; text-align: right;">Nome:</label>
            <input type="text" id="nome" name="nome" style="display: inline-block; width: 200px;"><br><br>
            <label for="quantidade" style="display: inline-block; width: 100px; text-align: right;">Quantidade:</label>
            <input type="text" id="quantidade" name="quantidade" style="display: inline-block; width: 200px;"><br><br>
            <button type="submit">Adicionar</button>
        </form>
    </div>
</body>
</html>